# Windows thumbnails
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Volatile files
tokens/*
users/*
API/cache/*
lobbies/*
matches/*
requests.json
unalike.json
users.json

# Template unignore
!setup_help/*

# Files that are not appropriate for git
created.txt
description.txt
title.txt
start-wt.bat

# Sensitive information
api_key.php
local_secret.php
account.php